@font-face {
    font-family: GoogleSans;
    src: url(GoogleSansCode-Regular.ttf);
}

* {
    font-family: 'GoogleSans', sans-serif;
}

.programmers img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.donar button {
    font-size: 15px;
    position: relative;
    padding-left: 8px;
    background-color: #25D366;
    border: non;
    border-radius: 3px;
    cursor: pointer;
}

.canal button {
    font-size: 15px;
    position: relative;
    padding-left: 8px;
    background-color: aqua;
    border: non;
    border-radius: 3px;
    cursor: pointer;
}

body {
    background-image: linear-gradient(90deg, #f0f0f0 1px, transparent 1px),
                      linear-gradient(0deg, #f0f0f0 1px, transparent 1px);
                      background-size: 20px 20px;
                      background-position: 0 0;
}

.principal {
    border-radius: 50px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.modelos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background-color: transparent;
    color: #444444;
    padding: 20px;
    text-align: center;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #ccc;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.terminal {
    background-color: #2b2b2b;
    color: #00ff00;
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    border: 1px solid #444;
    border-radius: 5px;
}

.terminal .prompt {
    color: #00ff00;
    font-weight: bold;
}

.terminal .command {
    color: #fff;
}

.terminal .output {
    color: #ccc;
}

header {
    background-color: #d7d7d7;
    color: #2b2b2b;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav {
    margin-top: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

header nav a:hover {
    color: #ccc;
}